

<main role="main">
<br>
<br>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">

                <div class="row featurette">
                    <div class="col-md-6">
                        <br>
                        <br>
                        <h2 class="featurette-heading">Decouvre ton travail de reve. <span class="text-muted">Africa Talent.</span></h2>
                          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                        </div>
                        <div class="col-md-5">
                          <img class="featurette-image img-fluid mx-auto rounded-circle" src="../../assets/images/jbotron.jpg" alt="Generic placeholder image">
                    </div>
                </div>

</div>
<hr class="featurette-divider">
              <!-- Notre service -->

   <section class="g-bg-secondary g-py-100">
            <div class="container">
              <header class="text-center g-width-80x--md mx-auto g-mb-70">
                <div class="u-heading-v6-2 text-center text-uppercase g-mb-20">
                  <h6 class="g-font-size-12 g-font-weight-600">Our Services</h6>
                  <h2 class="h3 u-heading-v6__title g-brd-primary g-color-gray-dark-v2 g-font-weight-600">What We Do</h2>
                </div>
                <p class="lead">Lorem ipsum dolor <span class="g-color-primary">sit amet consectetur</span> adipiscing elit. Nam eget varius leo, at elementum eros. Fusce tristique, ipsum egestas fermentum imperdiet, ex nunc iaculis sem, a semper augue turpis ut nulla.</p>
            </header>
            </div>  
        </section>

            <!-- Icon Blocks -->
    <section class="g-py-100">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                  <!-- Icon Blocks -->
                  <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <img class="rounded-circle" src="../../assets/images/parole1.png" alt="Generic placeholder image" width="140" height="140">
                 
                      </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Prise de parole en publique</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
      
                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                  <!-- Icon Blocks -->
                  <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <img class="rounded-circle" src="../../assets/images/parole2.jpeg" alt="Generic placeholder image" width="140" height="140">
                      </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">CV et Entretien</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
      
                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                  <!-- Icon Blocks -->
                  <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                            <img class="rounded-circle" src="../../assets/images/parole3.jpeg" alt="Generic placeholder image" width="140" height="140">
                      </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Preparation interview</h3>
                    <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
              </div>
            </div>
          </section>
          <!-- End Icon Blocks -->
      
      <div class="container marketing">

    
            <hr class="featurette-divider">
                    <!-- Example row of columns -->
                    <div class="row">
                      <div class="col-md-4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div>
                    </div>
            
                    <hr>
            
    
            <!-- /END THE FEATURETTES -->
    
          </div><!-- /.container -->
    
    

</main>